* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  align-items: center;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

h1 {
  margin-bottom: 25px;
  text-align: center;
  grid-column: span 2 / 4;
  color: lightgray;
  -webkit-text-stroke: 2px black;
  text-shadow: rgb(220, 220, 220) 1px 5px 5px;
  font-size: 54px;
}

h2 {
  margin: 15px;
  grid-column: 2;
  grid-column: span 2;
  color: lightgray;
  -webkit-text-stroke: 1.5px black;
  text-shadow: rgb(220, 220, 220) 0 0 3px;
  font-size: 32px;
}

p {
  grid-column: 2 / 4;
  margin-top: 25px;
  text-align: justify;
  font-size: 22px;
  color: darkgray
  -webkit-text-stroke; 1px white;
  text-shadow: rgb(220, 220, 220) 0 0 5px;
}

#board-wrapper {
  height: 50vh;
  width: 30vw;
  display: flex;
  border: 5px solid black;
  background-color: rgb(255, 155, 115);
  justify-content: space-between;
  grid-column: 2;
  border-radius: 15px;
}

#guess-wrapper {
  display: flex;
  flex-direction: column;
  width:79%;
  background-color: rgb(190, 230, 240);
  border: 1px 1px 1px 0 solid black;
  border-radius: 10px 0 0 10px;
}

.guess {
  display: flex;
  flex-direction: row;
  background: linear-gradient(rgb(255, 225, 185), rgb(255, 255, 255), rgb(255, 225, 185));
  border: solid 1px black;
  width: 100%;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}

.guessCell {
  width: 20%;
  height: 90%;
  border: solid 1px black;
  border-radius: 50%;
  background: radial-gradient(white, rgb(150, 150, 150));
}

#feedback-wrapper {
  display: flex;
  flex-direction: column;
  width: 19%;
  background-color: steelblue;
  border-radius: 0 10px 10px 0;
}

.feedback {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(rgb(70, 133, 185), rgb(125, 156, 181), rgb(70, 133, 185));
}

.feedbackCell {
  border: solid 1px black;
  width: 45%;
  height: 45%;
  border-radius: 50%;
  background: radial-gradient(rgb(170, 170, 170), rgb(60, 60, 60));
}

#solution {
  border: solid 2px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 23vw;
  margin: 5px;
  background: linear-gradient(rgb(70, 130, 185), rgb(125, 155, 180), rgb(70, 130, 185));
  grid-column: 2;
  border-radius: 25px;
}

.solution-cell {
  border: solid 1px black;
  height: 90%;
  width: 20%;
  border-radius: 50%;
  background: radial-gradient(rgb(75, 75, 75), black);
}

#color-bank {
  grid-column: 3;
  grid-row: 2;
  width: 30vw;
  height: 45vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.colors {
  border: solid 1px black;
  border-radius: 15%;
  width: 15vw;
  height: 15vh;
}

#red {
  background: radial-gradient(rgb(255, 155, 155), rgb(255, 10, 10));
}

#blue {
  background: radial-gradient(rgb(150, 150, 255), rgb(0, 0, 165));
}

#yellow {
  background: radial-gradient(rgb(255, 255, 225), rgb(230, 230, 0))
}

#green {
  background: radial-gradient(rgb(170, 245, 170), rgb(0, 110, 0))
}

#orange {
  background: radial-gradient(rgb(255, 230, 190), rgb(255, 140, 0))
}

#purple {
  background: radial-gradient(rgb(255, 125, 255), rgb(75, 0, 75))
}

button {
  margin: 5px;
  border-radius: 15px;
  font-size: 18px;
  padding: 5px;
  background: linear-gradient(rgb(100, 130, 255), rgb(200, 200, 200), rgb(100, 130, 255));
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#check {
  grid-column-start: 2;
}

#reset {
  grid-column-start: 3;
}